<%- include('./includes/head') %>

<div class="wrapper">
  <div class="main-panel">
    <div class="container">
      <h1 style="text-align: center; margin-top: 10rem">
        Some error occurred!
      </h1>
      <p style="text-align: center">
        We're working on fixing this, sorry for the inconvenience!
      </p>
    </div>
  </div>
</div>
<%- include('./includes/end') %>
